<?xml version="1.0"?>
<launch>
<!-- <arg name="map_file" default="$(find localization)/map.yaml"/>
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/> -->
  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">
  <param name="use_map_topic"  value="true"/>
   <param name="save_pose_rate"  value="40"/>
   <param name="odom_model_type"  value="diff-corrected"/>
   <!-- <param name="update_min_d" value="0.0001"/> -->
  <!-- <param name="update_min_a" value="0.0001"/> -->
  <!-- <remap from="scan" to="scan"/> -->
  
  </node>
</launch>
